/*Шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Ubuntu&display=swap');
/*--------------------*/

/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

/*header*/

body {
    font-family: 'Poppins', sans-serif;
}

.conteiner {
    max-width: 910px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }

    .conteiner {
        max-width: 100%;
        padding: 0 30px;
        overflow: hidden;
    }
    
}

.header {
    padding-top: 50px;
    margin-bottom: 100px;

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-btn__menu {
            display: none;
        }

        &-menu-conteiner {
            display: flex;
            align-items: center;
        }

        &-menu {
            display: flex;
            align-items: center;

            &-list {
                display: flex;
                align-items: center;
            }

            &-item {
                margin-right: 35px;

                &-link {
                    font-size: 13px;
                    line-height: 15px;
                    color: #30333A;
                }
            }

            @media (max-width:425px) {
                &-list {
                    display: none;
                }   
            }
        }

        &-btn {
            background-color: #2020DF;
            border-radius: 5px; 
            padding: 15px 30px;

            &-link {
                font-family: 'Ubuntu', sans-serif;
                font-size: 13px;
                font-weight: bold;
                line-height: 15px;
                color: #fff;

            }
        }

        &-btn-bt {
            display: none;
        }

        &-btn.botton {
            display: none;
        }

        @media (max-width: 375px) {
            &-btn {
                display: none;
            }

            &-btn-bt {
                display: flex;
            }

            &-btn.botton {
                display: inline-block;
                margin: 0 auto;
                
                
            }
        }

        @media(max-width: 768px) {

            &-menu {
                position: fixed;
                overflow: auto;
                top: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #ECF2FF;
                z-index: 4;
                padding: 100px 0 0 20px;
                transition: all 0.3s;
                &-list {
                    display: block;
                    position: absolute;
                    top: 80px;
                    
                }

                &-item {
                    margin-right: 0;
                    
                    &:not(:last-child) {
                        margin-bottom: 30px;

                        
                    }
                    &-link {
                        font-size: 26px;
                        line-height: 28px;
                        color: #30333A;
                    }
                }
            }

            &-menu.active {
                top: 0;
            }

            &-btn__menu {
                display: block;
                position: relative;
                width: 30px;
                height: 20px;
                margin-left: 40px;
                z-index: 4;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #30333A;
                    left: 0;
                    transition: all 0.3s;
                }

                &::before {
                    top: 0;
                }

                &::after {
                    bottom: 0;
                }
            }

            &-btn__menu.active {
                &::before {
                    transform: rotate(45deg);
                    top: 10px;
                }

                &::after {
                    transform: rotate(-45deg);
                    bottom: 8px;
                }
            }

            &-btn__menu span {
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #30333A;
                left: 0;
                top: 9px;
                transition: all 0.3s;
            }

            &-btn__menu.active span {
                transform: scale(0);
            }
        }
    }

    &-body {
        
        &-top {
            height: 150px;
        }

        &-top-block {
            display: flex;
            position: relative;
            margin-top: 75px;
            
        }

        &-img-l {
            position: absolute;
            top: -40px;
            left: 37%;
        }

        &-img-r {
            position: absolute;
            top: 30px;
            left: 85%;
        }

        @media (max-width:1024px) {
            &-img-r {
                left: 78%;
            }
        }

        @media (max-width:768px) {
            &-img-l {
                top: -50px;
                left: 28%;
            }

            &-img-r {
                top: 20px;
                left: 68%;
            }
        }

        &-images-dolor {
            position: absolute;
            top: 9px;
            left: 22.5%;
        }

        &-images-like {
            position: absolute;
            left: 83%;
            top: 108px;
        }

        &-images-smile {
            position: absolute;
            top: -20px;
            left: 70%;
        }

        &-footer {
            display: flex;
            

            &-text {
                margin-bottom: 75px;
            }

            &-text-title {
                font-size: 50px;
                font-weight: 600;
                margin-bottom: 30px;
            }

            &-text-subtitle span {
                font-size: 19px;
                font-weight: 300;
                line-height: 22px;

                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
            
            &-logo {
                margin-top: 110px;
                max-height: 128px;
                background-color: #A7A5EF;
                border-radius: 0  0 30px 30px;
                padding: 35px 180px;
            }

            @media (max-width:768px) {
                &-logo {
                    max-height: 98px;
                    padding: 25px 120px;
                }
            }

        }

        @media (max-width:650px) {
            &-footer {
                display: block;

                &-text {
                    margin-bottom: 30px;
                    margin-top: 20px;
                    display: inline-block;
                }

                &-text-title {
                    font-size: 40px;
                    font-weight: 600;
                    margin-bottom: 25px;
                    width: 50%;
                }
                
                &-logo {
                    width: 50%;
                    display: inline-block;
                    margin-top: 30px;
                    max-height: 98px;
                    padding: 25px 80px;
                }

            }
        }

        @media (max-width:425px) {
            &-footer { 
                &-text-title {
                    font-size: 34px;
                    font-weight: 600;
                    margin-bottom: 25px;
                    width: 100%;
                    z-index: 2;
                    position: relative;
                    margin-top: 40px;
                }

                &-text-subtitle span {
                    font-size: 16px;
                    position: relative;
                }

                &-logo {
                    width: 100%;
                    display: inline-block;
                    margin-top: 20px;
                    max-height: 98px;
                    padding: 20px 80px;
                    z-index: 2;
                    position: relative;
                    margin-bottom: 40px;
                }
            }
        }
    }

    @media (max-width: 650px) {
        &-body { 
            display: flex;
            flex-direction: column-reverse;

            &-top {
                height: 100%;
            }

            &-img-l {
                top: -350px;
                left: 40%;
            }

            &-img-r {
                top: -180px;
                left: 66%;
            }
        }
    }

    @media (max-width:425px) {
        &-body { 
            &-img-l {
                top: -270px;
                left: 60%;
                opacity: 0.6;
                z-index: 1;
            }

            &-img-r {
                display: none;
            }
        }
    }

    @media (max-width:375px) {
        &-body { 
            &-img-l {
                top: -340px;
                left: 60%;
            }
        }
    }

    @media (max-width:320px) {
        &-body { 
            &-img-l {
                top: -345px;
                left: 55%;
               
            }
        }
    }
}

@media (max-width:768px) {
    .header {
        margin-bottom: 40px;
        padding-top: 20px;
    }
}

@media (max-width:425px) {
    .header {
        margin-bottom: 20px;
    }
}

@media (max-width:320px) {
    .header {
        margin-bottom: 10px;
    }
}

/*--------------------*/

/*about*/

.about {
    margin-bottom: 120px;
    &-row {
        display: flex;
        justify-content: space-between;
    }

    &-column {
        flex: 0 1 50%;

        /*left*/
        &-body {
            padding-top: 20px;
            &-item {
                background: url(../img/about/tick.svg) no-repeat;
                font-size: 32px;
                font-weight: 500;
                line-height: 26px;
                padding-left: 80px;
                transition: 0.9s;
                cursor: pointer;

                &:hover {
                    background: url(../img/about/tick-hover.svg) no-repeat;
                }
            }

            &-text {
                font-family: 'Ubuntu', sans-serif;
                font-size: 17px;
                line-height: 28px;
                color: #8C8C98;
                margin-bottom: 5px;
                margin-top: 15px;
            }

            @media (max-width:650px) {
                &-item {
                    font-size: 28px;
                    line-height: 24px;
                    padding-left: 60px;
                }

                &-text {
                    font-size: 15px;
                    line-height: 24px;
                    margin-top: 12px;
                    margin-bottom: 15px;
                }
            }
            
        }
        /*//left*/

        /*right*/
        &-img {
            margin-left: 90px;
            width: 100%;
            height: 100%;
            background: url(../img/about/01.svg) no-repeat; 
            
            
        }

        @media (max-width:425px) {
            &-img {
                display: none;
            }
        }
        /*//right*/
    }

    @media (max-width:425px) {

    &-row {
        display: block;
        justify-content: space-between;
    }
}       
}

@media (max-width: 425px) {
    .about {
        margin-bottom: 70px;
    }
}

/*--------------------*/

/*partners*/

.partners {
     
    margin-bottom: 120px;
    padding: 25px 0;
    

    &-row {
        display: flex;
    }

    &-bg-img {
        background: url(../img/partnership/video.jpg) 0 0 / 100% no-repeat;
        width: 50%;
        height: 100%;
        position: absolute;
        border-radius: 0 10px 10px 0px;
    }

    &-bg-fon {
        background-color: rgba($color: #0000FF, $alpha: 0.7);
        width: 100%;
        height: 60%;
        border-radius: 0 10px 10px 0px;
        position: absolute;
        z-index: 2;
    }

    &-row-con {
        display: flex;
    }

    &-column {
        flex: 0 1 50%;
    }

    &-column.l {
        display: flex;
        justify-content: flex-end;
        width: 100%; 
    }

    &-column.r {
        display: flex;
        margin-left: 110px;  
        padding-right: 30px; 
    }

    &-column-l-img {
        max-width: 100%;
    }

    &-column-text-block {
        z-index: 2;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    &-column-title {
        font-size: 120px;
        font-weight: bold;
        color: #fff;
        margin-top: 140px;
        margin-bottom: 100px;
    }

    &-column-body {
        display: flex;
        color: #fff;
        align-items: center;
    }

    &-column-body-link__video {
        margin-right: 20px;
    }

    &-column-body-subtitle {
        font-weight: bold;
        line-height: 20px;
    }

    &-column-body-subtitle-top {
        font-size: 13px;
    }

    &-column-body-subtitle-botton {
        font-size: 18px;   
    }

    &-column-r-title {
        margin-top: 90px;
        font-size: 42px;
        font-weight: 700;
        line-height: 50px;
        margin-bottom: 35px;
        color: #303239;
    }

    &-column-r-text {
        font-size: 16px;
        line-height: 30px;
        color: #8C8C98;
        margin-bottom: 18px;
    }

    &-column-r-link__text {
        font-size: 13px;
        font-weight: 700;
        line-height: 15px;
        color: #C3ACAC;
        position: relative;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 2px;
            background-color: #C3ACAC;
            left: 150%;
            transition: all 0.3s;
            
        }
        &::before {
            top: 4.5px;
            transform: rotate(45deg);
            border-radius: 10px 0 0 10px;
        }

        &::after {
            bottom: 5px;
            transform: rotate(-45deg);
            border-radius: 10px 0 0 10px;
        }

    }

    &-column-r-link__text a {
       
    }

    &-column-r-link__text span {
        position: absolute;
        top: 7.5px;
    left: 123%;
        height: 2px;
        width: 28px;
        background-color: #C3ACAC;
        border-radius: 10px;
        
    }
}

@media (max-width: 1024px) {
    .partners {

        &-bg-fon {
            background-color: rgba($color: #0000FF, $alpha: 0.7);
            width: 100%;
            height: 64%;
            border-radius: 0 10px 10px 0px;
            position: absolute;
            z-index: 2;
        }

        &-column-title {
            font-size: 80px;
            margin-top: 80px;
            margin-bottom: 80px;
        }

        &-column-r-title {
            margin-top: 30px;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 25px;
            color: #303239;
        }

        &-column-r-text {
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 768px) {
    .partners {

        &-column-title {
            font-size: 60px;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        
    }
}

@media (max-width: 425px) {
    .partners {
      
        &-bg-img {
            background: url(../img/partnership/video.jpg) 0 0 / 100% no-repeat;
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 0 0px 0px 0px;
        }

        &-bg-fon {
            height: 26.5%;        
        }

        &-row-con {
            display: block;
        }

        &-column-title {
            font-size: 80px;
            margin-top: 40px;
            margin-bottom: 60px;
        }

        &-column-r-title {
            margin-top: 50px;
            font-size: 34px;
            font-weight: 700;
            line-height: 50px;
            margin-bottom: 20px;
            color: #303239;
        }

        &-column-r-text {
            font-size: 15px;
            margin-bottom: 14px;
        }

        &-column.r {
            display: flex;
            margin-left: 0px;  
            padding-right: 30px; 
        }

        &-column-r-link__text {
            font-size: 12px;
            
            &::after {
                bottom: 4px;
            }
        }

        &-column-r-link__text span {
            width: 24px; 
        }
    }
}

@media (max-width: 375px) {
    .partners {

        &-column-title {
            font-size: 70px;
            margin-top: 30px;
            margin-bottom: 60px;
        }

        &-bg-fon {
            height: 23.5%;        
        }
    }
}

@media (max-width: 320px) {
    .partners {

        &-column-title {
            font-size: 60px;
            margin-top: 30px;
            margin-bottom: 40px;
        }

        &-bg-fon {
            height: 20%;        
        }
    }
}







.partners-section {
    background: url(../img/partnership/bg-01.svg) 0 0 no-repeat;
    padding:  25px 0;
    min-height: 530px;
    margin-bottom: 130px;
}

.partners-wraperr {
    display: flex;

    @media (max-width:768px) {
        display: block;
    }
}

.partners__column.l {
    display: flex;
    flex: 0 1 70%;
}

.partners__column-left-wrap {
    position: relative;
    display: flex;
}

.partners__column-left-video__img {
    position: absolute;
    top: 0;
    left: -60%;
    
    @media (max-width:768px) {
        left: -20%;
    }
}

.partners__column-left-video__img img {
    border-radius: 10px;
}

.partners__column-left-video__img span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #0000FF, $alpha: .7);
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 10px;
}

.partners__column-left-body {
    z-index: 2;
    color: #fff;
    margin: 10% 0 0 170px;

    @media (max-width:768px) {
        margin: 10% 0 0 0;
    }

    &-title {
        font-size: 135px;
        font-weight: bold;
        line-height: 145px;
        margin-top: 100px;

        @media (max-width:768px) {
            font-size: 120px;
        }
    }

    &-subtitle {
        display: flex;
        margin-top: 86px;
    }

    &-link {
        margin-right: 20px;
    }
}

.partners__column.r {
    margin-left: 100px;

    @media (max-width:768px) {
        margin-left: 0;
        margin-top: 150px;
    }
}

.partners__column-right-wrap {
    margin: 88px 0 0 0;
    max-width: 280px;

    @media (max-width:768px) {
        margin: 0 0 0 0;
    }    
}

.partners__column-right-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    color: #303239;
    margin-bottom: 38px;
}

.partners__column-right-text {
    line-height: 30px;
    color: #8C8C98;
    margin-bottom: 30px;

    @media (max-width:768px) {
        font-size: 18px;
    }
}

.partners__column-right-link__block {

}

.partners__column-right-link {
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    color: #C3ACAC;

    @media (max-width:768px) {
        font-size: 17px;
    }
}

/*--------------------*/

/*working*/

.working {
    margin-bottom: 120px;

    &-block-top {
        margin-bottom: 90px;
        color: #303239;

        &-title {
            font-size: 58px;
            font-weight: 700;
            line-height: 60px;
            margin-bottom: 20px;
        }

        &-subtitle {
            display: flex;
            font-size: 19px;
            font-weight: 300;
            line-height: 22px;
        }

        &-subtitle p {
            display: block;
            margin-right: 10px;

            :last-child {
                margin-right: 0px;
            }
        }
    }

    &-block-botton {

        &-row {
            display: flex;
            margin: 0 -31px;
        }

        &-column {
            flex: 0 1 33.333%;
            padding: 0 31px;

            &-img {
                margin-bottom: 33px;
            }

            &-title {
                font-size: 42px;
                font-weight: 700;
                line-height: 50px;
                color: #30323A;
                margin-bottom: 28px;
            }

            &-text {
                font-size: 17px;
                line-height: 38px;
                color: #8C8C98;
            }
        }
    }
}

@media (max-width:425px) {
    .working{

        &-block-top {
            margin-bottom: 60px;

            &-title {
                font-size: 34px;
                line-height: 56px;
                margin-bottom: 16px;
            }
    
            &-subtitle {
                font-size: 16px;
                line-height: 20px;
            }
        }
    
        &-block-botton {
    
            &-row {
                display: block;
                margin: 0 0px;
            }
    
            &-column {
                flex: 0 1 100%;
                padding: 0 0px;
                margin-bottom: 20px;
    
                &-img {
                    margin-bottom: 33px;
                    margin-right: 20px;
                }
    
                &-title {
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 50px;
                    color: #30323A;
                    margin-bottom: 10px;
                }
    
                &-text {
                    font-size: 16px;
                    line-height: 34px;
                    color: #8C8C98;
                }
            }
        }
    }
}

/*--------------------*/

/*people*/

.people {
    
    background-color: #ECF2FF;
    margin-bottom: 120px;

    &-row {
        display: flex;
        background: url(../img/people/bg.svg) 0 0 no-repeat;
        padding-bottom: 140px;
        
    }

    &-column {
        flex: 0 1 50%;
        text-align: center;
        margin-top: 110px;

        &-block-l {

            &-column {
                display: flex;
                justify-content: space-evenly;
                margin-left: 40px;

                &-fon-box {
                    background-color:rgba($color: #3C6CD4, $alpha: 0.3);
                    z-index: 2;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    transition: all 0.5s ease-in;
                    

                    
                }

                &-img {
                    overflow: hidden;
                    position: relative;
                    box-shadow: 0px 0px 15px 5px rgba($color: #5E78EE, $alpha: 0.2);

                    :hover {
                        background-color:rgba($color: #0000FF, $alpha: 0.45);
                    }
                }

                &-img.one {
                    height: 55px;
                    width: 55px;
                    border-radius: 22px 0 22px 0;
                    margin-top: 6px;
                    margin-left: 75px;
                    
                }

                &-img.one img{
                    position: absolute;
                    object-fit: cover;
                    top: -30%;
                    left: -78%;
                }

                &-img.two {
                    height: 74px;
                    width: 74px;
                    border-radius: 26px 0 26px 0;
                }

                &-img.two img{
                    position: absolute;
                    object-fit: cover;
                    top: -40%;
                    left: -10%;
                }

                &-img.three {
                    height: 47px;
                    width: 47px;
                    border-radius: 18px 0 18px 0;
                    margin-top: 53px;
                    margin-left: 10px;
                }

                &-img.three img{
                    position: absolute;
                    object-fit: cover;
                    top: -35%;
                    left: -20%;
                }

                &-img.four {
                    height: 143px;
                    width: 143px;
                    border-radius: 35px 0 35px 0;
                    margin-right: 60px;
                    
                }

                &-img.four img{
                    position: absolute;
                    object-fit: cover;
                    top: -85%;
                    left: -20%;
                }

                &-img.five {
                    height:87px;
                    width: 87px;
                    border-radius: 30px 0 30px 0;
                    
                }

                &-img.five img{
                    position: absolute;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }

                &-img.six {
                    height:29px;
                    width: 29px;
                    border-radius: 11px 0 11px 0;
                }

                &-img.six img{
                    position: absolute;
                    object-fit: cover;
                    top: -5%;
                    left: -40%;
                }
            }

            &-column.one {
                
                width: 100%;
                
                margin-bottom: 27px;
            }

            &-column.two {
                
                margin-bottom: 22px;
            }

            &-column.three {
                align-items: flex-end;
            }

        }
    }

    

    &-column.l {
        
    }

    &-column {

        &-block-r {
            text-align: left;
            margin: 50px 0 0 95px;
            &-title {
                font-size: 40px;
                font-weight: 600;
                line-height: 48px;
                color: #30323A;
                margin-bottom: 10px;
            }

            &-text {
                font-size: 17px;
                line-height: 26px;
                color: #8C8C98;
                margin-bottom: 14px;
            }

            &-label {
                display: flex;
                font-size: 19px;
                font-weight: 300;
                line-height: 26px;
                color: #30323A;

                :not(:last-child) {
                    margin-right: 15px;
                }
            }
        }

        
    }

    &-column.r {
        
    }
}

@media (max-width: 768px) {
    .people {
    
        background-color: #ECF2FF;
        margin-bottom: 20px;
    
        &-row {
            display: block;
            background: url(../img/people/bg.svg) 165% 0 no-repeat;
            padding-bottom: 0px;
            
        }
    
        &-column {
            flex: 0 1 100%;
            text-align: left;
            margin-top: 0px;
    
            &-block-l {
    
                &-column {
                    display: flex;
                    justify-content: space-evenly;
                    margin-left: 0px;
                }
            }
        }
    
        
    
        &-column.l {
            padding-top: 120px;
        }
    
        &-column {
    
            &-block-r {
                text-align: left;
                margin: 50px 0 100px 0px;
                max-width: 370px;
                &-title {
                    font-size: 40px;
                    font-weight: 600;
                    line-height: 48px;
                    color: #30323A;
                    margin-bottom: 10px;
                }
    
                &-text {
                    font-size: 17px;
                    line-height: 26px;
                    color: #8C8C98;
                    margin-bottom: 14px;
                }
    
                &-label {
                    display: flex;
                    font-size: 19px;
                    font-weight: 300;
                    line-height: 26px;
                    color: #30323A;
    
                    :not(:last-child) {
                        margin-right: 15px;
                    }
                }
            }
    
            
        }
    
        &-column.r {
            margin-top: 150px;
        }
    }
}

@media (max-width: 425px) {
    .people {
    
        &-row {
            display: block;
            background: url(../img/people/bg.svg) 35% 0 no-repeat;
            padding-bottom: 0px;
            
        }
    }
}

@media (max-width: 425px) {
    .people {

        &-row {
            display: block;
            background: none;
            padding-bottom: 0px;
            
        }
        
        &-column.l {
            display: block;
        }
        
    }
}

/*--------------------*/

/*integration*/

.integration {
    padding-bottom: 120px;

    &-row {
        display: flex;
        margin: 0 -31px;
    }

    &-column {
        flex: 0 1 50%;
        padding: 0 31px;
    }

    &-column-body {
        max-width: 350px;
        margin-top: 40px;

        &-title {
            font-size: 42px;
            font-weight: 700;
            line-height: 50px;
            color: #30323A;
            margin-bottom: 18px;
        }

        &-subtitle {
            font-size: 17px;
            line-height: 31px;
            color: #8C8C98;
        }
    }

    &-column.r {
        display: flex;
        flex-wrap: wrap;
    }

    &-column-images-block {
        width: 190px;
        height: 70px;
        background-color: #ECF2FF;
        border-radius: 30px 3px 30px 3px;
        display: flex;
        text-align: center;
        justify-content: center;       
    }

    &-column-images-block:not(:nth-child(even)) {
        margin-right: 30px;
    }

    &-column-images-block:not(:last-child) {
        margin-bottom: 28px;
    }
}

@media(max-width: 768px) {
    .integration {
        padding-bottom: 100px;
    
        &-row {
            display: block;
            margin: 0 0;
        }
    
        &-column {
            flex: 0 1 100%;
            padding: 0 0px;
        }
    
        &-column-body {
            max-width: 350px;
            margin-top: 40px; 
            margin-bottom: 60px;  
        }
    
        &-column.r {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    
        &-column-images-block {
            width: 190px;
            height: 70px;
            background-color: #ECF2FF;
            border-radius: 30px 3px 30px 3px;
            display: flex;
            text-align: center;
            justify-content: center; 
            margin-right: 0px;      
        }
    
        &-column-images-block:not(:last-child) {
            margin-bottom: 28px;
        }

        &-column-images-block:nth-last-child(-n+2) {
            margin-bottom: 0px;
        }
        
    }
}

@media(max-width: 425px) {
    .integration {
        padding-bottom: 100px;
    
        &-row {
            display: block;
            margin: 0 0;
        }
    
        &-column {
            flex: 0 1 100%;
            padding: 0 0px;
        }
    
        &-column-body {
            max-width: 350px;
            margin-top: 40px; 
            margin-bottom: 60px;  
        }
    
        &-column.r {
            display: flex;
            flex-wrap: wrap;
        }
    
        &-column-images-block {
            width: 190px;
            height: 70px;
            background-color: #ECF2FF;
            border-radius: 30px 3px 30px 3px;
            display: flex;
            text-align: center;
            justify-content: center; 
            margin-right: 0px;      
        }

        &-column-images-block:not(:nth-child(even)) {
            margin-right: 0px;
        }
    
        &-column-images-block:not(:last-child) {
            margin-bottom: 28px;
        }

        &-column-images-block:nth-last-child(-n+2) {
            margin-bottom: 28px;
        }

        &-column-images-block:last-child {
            margin-bottom: 0px;
        }
        
    }
}
    

/*--------------------*/

/*get-stert*/

.get__stert {
    position: relative;
    height: 100px;

    &-conteiner {
        position: absolute;
        top: -20%;
        left: 12.5%;
        width: 75%; 
        margin: 0 auto;
        background-color: #5271FF;
    }

    &-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-column.l {
        margin: 65px 0 65px 100px;
        color: #fff;
    }

    &-column-title {
        font-size: 42px;
        font-weight: 700;
        line-height: 50px;
    }

    &-column.r {
        display: flex;
        align-items: center;
        margin-right: 75px;
    }

    &-column-link {
        font-size: 19px;
        line-height: 22px;
        margin-right: 80px;
        color: #fff;
    }

    &-column-btn {
        background-color: #fff;
        border-radius: 3px; 
        padding: 15px 20px;
        transition: all 0.3s;
    }

    &-column-btn:hover {
        box-shadow: 0 0 20px 2px rgba($color: #6B40C3, $alpha: .6);
    }

    &-column-btn-link {
        font-size: 17px;
        font-weight: 600;
        line-height: 20px;
        color: #30323A;
    }
    
}

@media(max-width: 1024px) {
    
.get__stert {

    &-conteiner {
        top: -5%;
    }

    &-column.l {
        margin: 40px 0 40px 70px;
    }

    &-column.r {
        margin-right: 40px;
    }

    &-column-link {
        margin-right: 60px;
    }
    
}
}

@media(max-width:924px) {
    .get__stert {
    
        &-column.l {
            margin: 40px 0 40px 40px;
        }
    
        &-column-link {
            margin-right: 45px;
        }
        
    }
}

@media(max-width:768px) {
    .get__stert {
    
        &-conteiner {
            top: -5%; 
        }
    
        &-column.l {
            margin: 40px 0 40px 40px;
        }
    
        &-column.r {
            display: flex;
            flex-direction: column;
            margin-right: 40px;
        }
    
        &-column-link {
            margin-right: 0px;
            margin-bottom: 10px;
        }
        
    }
}

@media(max-width: 425px) {
    .get__stert {
    
        &-conteiner {
            top: -25%;
        }
    
        &-row {
            display: flex;
            flex-direction: column;
        }
    
        &-column.l {
            text-align: center;
            margin: 20px 0 20px 0px;
        }
    
        &-column-title {
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
        }
    
        &-column.r {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    
        &-column-link {
            margin-right: 0px;
        }
        
    }
}

@media(max-width: 375px) {
    .get__stert {
    
        &-conteiner {
            top: -25%;
        }
    
        &-row {
            flex-direction: column;
        }
    
        &-column.l {
            margin: 20px 0 20px 0px;
        }
    
        &-column-title {
            font-size: 36px;
            font-weight: 700;
            line-height: 42px;
        }
    
        &-column.r {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    
        &-column-link {
            font-size: 16px;
            margin-right: 0px;
            margin-bottom: 20px;
        }
    
        &-column-btn-link {
            font-size: 16px;
        }
        
    }
}

/*--------------------*/

/*footer*/

.footer {
    
    background-color: #ECF2FF;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;

    &-body {
        
        margin-top: 200px;

        &-wrap {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
        }

        &-column.r {
            flex: 0 1 auto;
            margin-right: 70px;
        }

        &-column.l {
            flex: 0 1 20%;
        }

        &-left-logo {
            margin-bottom: 22px;
        }

        &-left-text {
            font-size: 17px;
            line-height: 27px;
            color: #8C8C98;
        }
        
        &-right-row {
            display: flex;
            margin: 0 -50px;
        }

        &-right-column {
            padding: 0 50px;
        }

        &-right-title {
            font-size: 17px;
            font-weight: 700;
            line-height: 20px;
            color: #30323A;
            margin-bottom: 27px;
        }

        &-right-list {
            display: block;
        }

        &-right-link {
            font-size: 14px;
            line-height: 16px;
            color: #8C8C98;
            
        }

        &-right-item:not(:last-child) {
            margin-bottom: 14px;
        }
    }

    &-copyright {
        color: #8C8C98;
        font-size: 14px;
        line-height: 23px;

        &-link {
            color: #000;
        }
    }

}

@media(max-width:768px) {
    .footer {
    
        background-color: #ECF2FF;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 50px;
    
        &-body {
            
            margin-top: 200px;
    
            &-wrap {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 40px;
            }
    
            &-column.r {
                flex: 0 1 auto;
                margin-right: 0px;
                margin-bottom: 60px;
                order: 1;
            }
    
            &-column.l {
                flex: 0 1 20%;
                order: 2;
            }
    
            &-left-logo {
                margin-bottom: 22px;
            }
    
            &-left-text {
                font-size: 17px;
                line-height: 27px;
                color: #8C8C98;
            }
            
            &-right-row {
                display: flex;
                margin: 0 -50px;
            }
    
            &-right-column {
                padding: 0 50px;
            }
    
            &-right-title {
                font-size: 17px;
                font-weight: 700;
                line-height: 20px;
                color: #30323A;
                margin-bottom: 27px;
                cursor: pointer;
            }
    
            &-right-list {
                display: block;
                margin-bottom: 20px;
            }
    
            &-right-link {
                font-size: 14px;
                line-height: 16px;
                color: #8C8C98;
                
            }
    
            &-right-item:not(:last-child) {
                margin-bottom: 14px;
            }
        }
    
        &-copyright {
            color: #8C8C98;
            font-size: 14px;
            line-height: 23px;
    
            &-link {
                color: #000;
            }
        }
    
    }
}


@media(max-width:425px) {
    .footer {
    
        background-color: #ECF2FF;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 50px;
    
        &-body {
            
            margin-top: 200px;
    
            &-wrap {
                display: flex;
                justify-content: space-between;
                margin-bottom: 80px;
            }
    
            &-column.r {
                flex: 0 1 auto;
                margin-right: 70px;
            }
    
            &-column.l {
                flex: 0 1 20%;
            }
    
            &-left-logo {
                margin-bottom: 22px;
            }
    
            &-left-text {
                font-size: 17px;
                line-height: 27px;
                color: #8C8C98;
            }
            
            &-right-row {
                display: flex;
                flex-direction: column;
                margin: 0 -50px;
            }
    
            &-right-column {
                padding: 0 50px;
            }
    
            &-right-title {
                font-size: 17px;
                font-weight: 700;
                line-height: 20px;
                color: #30323A;
                margin-bottom: 27px;
                cursor: pointer;
            }
    
            &-right-list {
                display: none;
            }
    
            &-right-link {
                font-size: 14px;
                line-height: 16px;
                color: #8C8C98;
                
            }
    
            &-right-item:not(:last-child) {
                margin-bottom: 14px;
            }
        }
    
        &-copyright {
            color: #8C8C98;
            font-size: 14px;
            line-height: 23px;
    
            &-link {
                color: #000;
            }
        }
    
    }
}

/*--------------------*/