.about {
    margin-bottom: 120px;
    &-row {
        display: flex;
        justify-content: space-between;
    }

    &-column {
        flex: 0 1 50%;

        /*left*/
        &-body {
            padding-top: 20px;
            &-item {
                background: url(../img/about/tick.svg) no-repeat;
                @include adaptiv-font(32, 28);
                font-weight: 500;
                line-height: 26px;
                padding-left: 80px;
                transition: 0.9s;
                color: #30333A;
                
                @media (min-width: 770px) {
                    &:hover {
                        background: url(../img/about/tick-hover.svg) no-repeat;
                    }
                }
                
            }

            &-text {
                font-family: 'Ubuntu', sans-serif;
                @include adaptiv-font(17, 15);
                line-height: 28px;
                color: #8C8C98;
                margin-bottom: 25px;
                margin-top: 15px;
            }

            @media (max-width:650px) {
                &-item {
                    // font-size: 28px;
                    line-height: 24px;
                    padding-left: 60px;
                }

                &-text {
                    // font-size: 15px;
                    line-height: 24px;
                    margin-top: 12px;
                    
                }
            }
            
        }
        /*//left*/

        /*right*/
        &-img {
            margin-left: 90px;
            width: 100%;
            height: 100%;
            background: url(../img/about/01.svg) no-repeat; 
            
            @media (max-width:1110px) {
                margin-left: 40px;
            }
            
        }

        @media (max-width:425px) {
            &-img {
                display: none;
            }
        }
        /*//right*/
    }

    @media (max-width:425px) {

    &-row {
        display: block;
        justify-content: space-between;
    }
}       
}

@media (max-width: 425px) {
    .about {
        margin-bottom: 70px;
    }
}