.header {
    padding-top: 50px;
    margin-bottom: 100px;
    color: #303239;

    &-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-btn__menu {
            display: none;
        }

        &-menu-conteiner {
            display: flex;
            align-items: center;
        }

        &-menu {
            display: flex;
            align-items: center;

            &-list {
                display: flex;
                align-items: center;
            }

            &-item {
                margin-right: 35px;

                &-link {
                    font-size: 13px; 
                    line-height: 15px;
                    color: #30333A;
                }
            }

            @media (max-width:425px) {
                &-list {
                    display: none;
                }   
            }
        }

        &-btn {
            background-color: #2020DF;
            border-radius: 5px; 
            padding: 15px 30px;

            &-link {
                font-family: 'Ubuntu', sans-serif;
                font-size: 13px;
                font-weight: bold;
                line-height: 15px;
                color: #fff;

            }
        }

        &-btn-bt {
            display: none;
        }

        &-btn.botton {
            display: none;
        }

        @media (max-width: 320px) {
            &-btn {
                display: none;
            }

            &-btn-bt {
                display: flex;
            }

            &-btn.botton {
                display: inline-block;
                  margin: 0 auto;
            }
        }

        @media (max-width: 823px) {
            &-menu {
                position: fixed;
                overflow: auto;
                top: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #ECF2FF;
                z-index: 4;
                padding: 100px 0 0 20px;
                transition: all 0.3s;
                &-list {
                    display: block;
                    position: absolute;
                    top: 80px;
                    
                }

                &-item {
                    margin-right: 0;
                    
                    &:not(:last-child) {
                        margin-bottom: 30px;

                        
                    }
                    &-link {
                        font-size: 26px;
                        line-height: 28px;
                        color: #30333A;
                    }
                }
            }

            &-menu.active {
                top: 0;
            }

            &-btn__menu {
                display: block;
                position: relative;
                width: 30px;
                height: 20px;
                margin-left: 40px;
                z-index: 4;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #30333A;
                    left: 0;
                    transition: all 0.3s;
                }

                &::before {
                    top: 0;
                }

                &::after {
                    bottom: 0;
                }
            }

            &-btn__menu.active {
                &::before {
                    transform: rotate(45deg);
                    top: 10px;
                }

                &::after {
                    transform: rotate(-45deg);
                    bottom: 8px;
                }
            }

            &-btn__menu span {
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #30333A;
                left: 0;
                top: 9px;
                transition: all 0.3s;
            }

            &-btn__menu.active span {
                transform: scale(0);
            }
        }

        @media(max-width: 768px) {

            &-menu {
                position: fixed;
                overflow: auto;
                top: -100%;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #ECF2FF;
                z-index: 4;
                padding: 100px 0 0 20px;
                transition: all 0.3s;
                &-list {
                    display: block;
                    position: absolute;
                    top: 80px;
                    
                }

                &-item {
                    margin-right: 0;
                    
                    &:not(:last-child) {
                        margin-bottom: 30px;

                        
                    }
                    &-link {
                        font-size: 26px;
                        line-height: 28px;
                        color: #30333A;
                    }
                }
            }

            &-menu.active {
                top: 0;
            }

            &-btn__menu {
                display: block;
                position: relative;
                width: 30px;
                height: 20px;
                margin-left: 40px;
                z-index: 4;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #30333A;
                    left: 0;
                    transition: all 0.3s;
                }

                &::before {
                    top: 0;
                }

                &::after {
                    bottom: 0;
                }
            }

            &-btn__menu.active {
                &::before {
                    transform: rotate(45deg);
                    top: 10px;
                }

                &::after {
                    transform: rotate(-45deg);
                    bottom: 8px;
                }
            }

            &-btn__menu span {
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: #30333A;
                left: 0;
                top: 9px;
                transition: all 0.3s;
            }

            &-btn__menu.active span {
                transform: scale(0);
            }
        }   
    }

    &-body {
        
        &-top {
            height: 150px;
        }

        &-top-block {
            display: flex;
            position: relative;
            margin-top: 75px;
            
        }

        &-img-l {
            position: absolute;
            top: -40px;
            left: 37%;
        }

        &-img-r {
            position: absolute;
            top: 30px;
            left: 85%;
        }

        @media (max-width:1024px) {
            &-img-r {
                left: 78%;
            }
        }

        @media (max-width:823px)  {
            
            &-img-l {
                top: -50px;
                left: 28%;
            }

            &-img-r {
                top: 20px;
                left: 65%;
            }
        }

        &-images-dolor {
            position: absolute;
            top: 9px;
            left: 22.5%;
        }

        &-images-like {
            position: absolute;
            left: 83%;
            top: 108px;
        }

        &-images-smile {
            position: absolute;
            top: -20px;
            left: 70%;
        }

        &-footer {
            display: flex;
            

            &-text {
                margin-bottom: 75px;
            }

            &-text-title {
                @include adaptiv-font(50, 34);
                
                font-weight: 600;
                margin-bottom: 30px;
            }

            &-text-subtitle span {
                @include adaptiv-font(19, 16);
                font-weight: 300;
                line-height: 22px;
                color: #30333A;

                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
            
            &-logo {
                margin-top: 110px;
                max-height: 128px;
                background-color: #A7A5EF;
                border-radius: 0  0 30px 30px;
                padding: 35px 180px;
            }

            @media (max-width:768px) and (max-width:823px) {
                &-logo {
                    max-height: 98px;
                    padding: 25px 120px;
                }
            }

        }
        }

        @media (max-width:768px){
            &-img-l {
                top: -50px;
                left: 28%;
            }

            &-img-r {
                top: 20px;
                left: 68%;
            }
        }

        &-images-dolor {
            position: absolute;
            top: 9px;
            left: 22.5%;
        }

        &-images-like {
            position: absolute;
            left: 83%;
            top: 108px;
        }

        &-images-smile {
            position: absolute;
            top: -20px;
            left: 70%;
        }

        &-footer {
            display: flex;
            

            &-text {
                margin-bottom: 75px;
            }

            &-text-title {
                @include adaptiv-font(50, 34);
                
                font-weight: 600;
                margin-bottom: 30px;
            }

            &-text-subtitle span {
                @include adaptiv-font(19, 16);
                font-weight: 300;
                line-height: 22px;
                color: #30333A;

                &:not(:last-child) {
                    margin-right: 15px;
                }
            }
            
            &-logo {
                margin-top: 110px;
                max-height: 128px;
                background-color: #A7A5EF;
                border-radius: 0  0 30px 30px;
                padding: 35px 180px;
            }

            @media (max-width:768px) and (max-width:823px) {
                &-logo {
                    max-height: 98px;
                    padding: 25px 120px;
                }
            }

        }

        @media (max-width:650px) {
            &-footer {
                display: block;

                &-text {
                    margin-bottom: 30px;
                    margin-top: 20px;
                    display: inline-block;
                }

                &-text-title {
                    /*font-size: 40px;*/
                    font-weight: 600;
                    margin-bottom: 25px;
                    width: 50%;
                }
                
                &-logo {
                    width: 50%;
                    display: inline-block;
                    margin-top: 30px;
                    max-height: 98px;
                    padding: 25px 80px;
                }

            }
        }

        @media (max-width:425px) {
            &-footer { 
                &-text-title {
                   /* font-size: 34px;*/
                    font-weight: 600;
                    margin-bottom: 25px;
                    width: 100%;
                    z-index: 2;
                    position: relative;
                    margin-top: 40px;
                }

                &-text-subtitle span {
                    // font-size: 16px;
                    position: relative;
                }

                &-logo {
                    width: 100%;
                    display: inline-block;
                    margin-top: 20px;
                    max-height: 98px;
                    padding: 20px 80px;
                    z-index: 2;
                    position: relative;
                    margin-bottom: 40px;
                }
            }
        }

        @media (max-width: 320px) {
            &-footer { 
                &-text-title {
                   /* font-size: 34px;*/
                    font-weight: 600;
                    margin-bottom: 25px;
                    width: 100%;
                    z-index: 2;
                    position: relative;
                    margin-top: 40px;
                }

                &-logo {
                    display: inline-block;
                    margin-top: 20px;
                    max-height: 98px;
                    padding: 20px 80px;
                    z-index: 2;
                    position: relative;
                    margin-bottom: 40px;
                }
            }
        }
    }

    @media (max-width: 650px) {
        &-body { 
            display: flex;
            flex-direction: column-reverse;

            &-top {
                height: 100%;
            }

            &-img-l {
                top: -350px;
                left: 40%;
            }

            &-img-r {
                top: -180px;
                left: 66%;
            }
        }
    }

    @media (max-width:425px) {
        &-body { 
            &-img-l {
                top: -270px;
                left: 60%;
                opacity: 0.6;
                z-index: 1;
            }

            &-img-r {
                display: none;
            }
        }
    }

    @media (max-width:375px) {
        &-body { 
            &-img-l {
                top: -340px;
                left: 60%;
            }
        }
    }

    @media (max-width:320px) {
        &-body { 
            &-img-l {
                top: -345px;
                left: 55%; 
            }
        }
    }


@media (max-width:768px) and (max-width:823px) {
    .header {
        margin-bottom: 40px;
        padding-top: 20px;
    }
}

@media (max-width:425px) {
    .header {
        margin-bottom: 20px;
    }
}

@media (min-width: 320px) and (max-width:568px) {
    .header {
        margin-bottom: 10px;
    }
}